body {
    background: #eee;
    color: #444;
}

main {
    padding-top: 5em;
}

.row {
    list-style: none;
}
.columns {
    margin-bottom: 0;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

.six.columns:nth-of-type(2n+1),
.four.columns:nth-of-type(3n+1),
.three.columns:nth-of-type(4n+1),
.two.columns:nth-of-type(6n+1) {
    margin-left: 0;
}