/**
 * Style adjustments for the Pages theme
 */
body[data-theme="pages"] .works ul,
body[data-theme="pages"] .articles ul,
body[data-theme="pages"] footer {
    content: "";
    display: table;
    clear: both;
    margin: 0 auto;
}
body[data-theme="pages"] footer .default {
    float: left;
    width: 25%;
    box-sizing: border-box;
    text-align: left;
}
body[data-theme="pages"] footer .default h2 {
    font-size: 2em;
}
body[data-theme="pages"] footer .default ul {
    padding-left: 2em;
}
body[data-theme="pages"] .works ul,
body[data-theme="pages"] .articles ul {
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}
body[data-theme="pages"] .works li,
body[data-theme="pages"] .articles li {
    padding: 1em;
    box-sizing: border-box;
}
body[data-theme="pages"] .works li {
    float: left;
    width: 25%;
}
body[data-theme="pages"] .articles li {
    float: left;
    width: 33%;
}

/**
 * Style adjustments for the Clark theme
 */
body[data-theme="clark"] main {
    padding-top: 4em;
}
body[data-theme="clark"] ul.row {
    padding: 0;
    list-style: none;
}
body[data-theme="clark"] .hero div[style] {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 56.25%;
}
body[data-theme="clark"] .hero [itemprop="image"] {
    display: none;
}
body[data-theme="clark"] .gallery [itemprop="url"] img {
    display: none;
}
body[data-theme="clark"] .gallery [itemprop="url"] div[style] {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 56.25%;
}
body[data-theme="clark"] .gallery [itemprop="url"] img {
    display: none;
}


/**
 * Style adjustments for the Skeleton theme
 */
body[data-theme="skeleton"] nav ul,
body[data-theme="skeleton"] ul.row {
    padding: 0;
    list-style: none;
}
body[data-theme="skeleton"] nav li {
    padding-left: 1em;
}
body[data-theme="skeleton"] .columns img {
    max-width: 100%;
}
body[data-theme="skeleton"] footer h2 {
    font-size: 2em;
}