/**
 * Style adjustments for the Clark theme
 */
body[data-theme="clark"] main {
    padding-top: 4em;
}
body[data-theme="clark"] ul.row {
    padding: 0;
    list-style: none;
}
body[data-theme="clark"] .col-md img {
    max-width: 100%;
}


/**
 * Style adjustments for the Skeleton theme
 */
body[data-theme="skeleton"] nav ul,
body[data-theme="skeleton"] ul.row {
    padding: 0;
    list-style: none;
}
body[data-theme="skeleton"] nav li {
    padding-left: 1em;
}
body[data-theme="skeleton"] .columns img {
    max-width: 100%;
}
body[data-theme="skeleton"] footer h2 {
    font-size: 2em;
}